<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-grid>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Soy una recuperacion de Contraseña!!!</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-input type="email" label="Recupera el mail" labelPlacement="floating" placeholder="alumno@duocuc.cl"></ion-input>
          </ion-item>
        </ion-card-content>


        <ion-button color="success" size="full">Recuperar</ion-button>
      </ion-card>
    </ion-grid>
  </div>
</ion-content>
